.App {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.flex {
	display: flex;
	justify-content: space-around;
}

.digit {
	width: 100px;
	height: 45px;
	font-size: 36px;
	-moz-appearance: textfield;
	margin: 0 5px;
	text-align: center;
}

.digit::-webkit-outer-spin-button,
.digit::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.modal {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 3;
	background-color: aliceblue;
	padding: 10px 40px;
	border: 1px solid #000;
	border-radius: 20px;
}
